<div class="search-form">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="search" class="form-control" id="search-input" name="q" placeholder="Enter">
        </div>

        <div class="form-group">
            <label for="gender-input">SEX</label>
            <select class="form-control" id="gender-input" name="gender">
                <option value="">Choose gender</option>
                <option value="male">Male</option>
                <option value="male">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>